*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container{
    position: relative;
   
}
.container img {
    height: 100vh;
    width: 100%;
    height: auto;
  }
  .container .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* -ms-transform: translate(-50%, -50%);} */
    width: 160px;
    height: 50px;
  }
  body{
    background-image: url('https://c4.wallpaperflare.com/wallpaper/654/99/721/earth-space-stars-moon-wallpaper-preview.jpg');
  background-size: cover;
}
.container h2{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-weight: 500;
    background-color: black;
}
.para{
margin-left: 10%;
margin-right: 10%;
}
.Solar{
  margin-left: 50%;
  border-radius: 20%;

}
.carousel img{
width: 800px;
height: 900px;
}
.Solarli{
  margin-left: 50%;
  height: 90;
  border-radius: 20%;
}
.row img{
  border-radius: 100%;
  height: 250px;
}
.paraSpace{
margin: 2% 10% 0 10%;
}
.Camp{
  margin: 5%;
}
.row1{
  display: flex;
  align-items: center;
}
.Form{
  width: 50%;
  height: 50%;
  border: solid 1px white;
  border-radius: 10px;
  padding: 2%;
align-items: center;
margin: 10% 25% 25%;
}